*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-100.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-200.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-300.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-regular.ttf");
  font-weight: regular;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-500.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-600.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-700.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-800.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-v25-latin-900.ttf");
  font-weight: 900;
}
body{
  background-color: #fafafa;

}

.body{
  max-width: 1024px;
  margin-inline: auto;
}
