*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("montserrat-regular.ttf");
  }

.body{
  max-width: 1200px;
  margin-inline: auto;
}
